<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="card border-dark mb-3" style="max-width: 18rem;" th:each="pedido : ${pedidos}">
                <div class="card-header" th:text="${pedido.nomeProduto}"> Nome do produto</div>
                <div class="card-text"> Valor: <span th:text="${pedido.valorNegociado}"> 200,99</span></div>
                <div class="card-text"> Data da entrega: <span th:text="${pedido.dataDaEntrega}">10/02/2020</span> </div>

                <div>Produto</div>
                <div href="#" class="card-link"><input class="form-control" th:value="${pedido.urlProduto}" value="url do produto"/> </div>


                <div class="card-text">Descrição</div>
                <div href="#" class="card-link">
                    <textarea class="form-control" th:text="${pedido.descricao}"></textarea>
                 </div>

                <div>
                    <img class="card-img-top" th:src="${pedido.urlImagem}" src=""/>
                 </div>
            </div>
        </div>
    </body>
</html>

